body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("./bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:auto;
}
.btn {
  cursor: pointer;
}
#root{
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgba(0,0,0,0.65);
  overflow:auto;
}
.navbar {
  margin: 0;
  border-radius: 0;
  background-color: black;
  border-bottom: solid;
  border-bottom-color: cyan;
  border-bottom-width: 1px;
}
.b{
  color:cyan !important;
}
.b:hover{
  color:white !important;
}
.navbar-brand {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 800;
}
.Home {
  height: 100%;
}
.custom-content{
  padding-top: 12%;
}
.login {
  vertical-align: center;
}
@keyframes hslidein {
  from {
    margin-left: -100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes tease{
  from {
    color: rgba(0, 0, 0, 0);
  }

  to {
      color: rgba(255, 255, 255, 1);
  }
}
.landing-head{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: cyan;
  animation-name: hslidein;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}
.text-white {
  color: white;
}
.an {
  animation-name: tease;
  animation-duration: 8s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  color: white;
}
.bb {
  background: rgba(0,0,0,.7);
  border-width:medium;
  border-color: cyan;
  color: white;
  width: 100px;
  margin: 15px;
}
.bb:hover,.bb2:hover {
  background: rgba(0,255,255,.2);
  color:white;
  border-color: cyan;
}
.text-err {
  color: #ff4d4d;
  background: rgba(0,0,0,.3);
}
.f-error {
  border-bottom: 1px solid red;
  box-shadow: 1px 1px red;
}
.f-label {
  color : cyan;
}
.f-submit {
  background: rgba(0,0,0,.7);
  border-width:medium;
  border-color: cyan;
  color: white;
  width: 100px;
}
.f-submit:hover {
  background: rgba(0,255,255,.2);
  color:white;
  border-color: cyan;
}
.f-submit:focus {
  background: rgba(0,255,255,.2);
  color:white;
  border-color: cyan;
}
.f-head{
  color : cyan;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.f-success {
  padding-top: 8%;
  text-align: center;
}
.f-big {
  color: cyan;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.f-info {
  color: White;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.f-link {
  color: turquoise;
}
.f-link:hover {
  color: lime;
  text-decoration: none;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes i-info {
    from {
      background:rgba(0, 255, 255, 1);
      box-shadow: 0px 3px 10px 3px rgba(0, 255, 255, .75);
    }
    to {
      background:rgba(0, 255, 255, .5);
      box-shadow: 0px 3px 10px 3px rgba(0, 255, 255, .25);
    }
}
.i-container {
  background:rgba(0, 255, 255, 1);
  color: black;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-shadow: 0px 3px 10px 3px rgba(0, 255, 255, .75);
  border-bottom: 2px solid cyan;
  border-right: 2px solid cyan;
  border-left: 2px solid cyan;
  border-top: 0px solid cyan;
  text-align: center;
  animation-name: i-info;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /*animation-fill-mode:both;*/
  /*animation-timing-function: ease-in-out;*/
}
.i-c{
  animation-name: slidein;
  animation-duration: 2s;
  animation-iteration-count: 1;
  /*animation-direction: alternate;*/
}
.i-submit {
  background: rgba(0,0,0,.7);
  border-width:medium;
  border: 1px solid;
  border-color: cyan;
  color: white;
  width: 100px;
}
.i-submit:hover {
  background: rgba(0,0,0,1);
  color:white;
  border: 1px solid;
  border-color: white;
}
#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.7em;
  margin-left: -2.7em;
  width: 5.4em;
  height: 5.4em;
  background-color: none;
}

#hill {
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  top: 1.7em;
  left: 1.7em;
  background-color: transparent;
  border-left: .25em solid cyan;
  transform: rotate(45deg);
}

#hill:after {
  content: '';
  position: absolute;
  width: 7.1em;
  height: 7.1em;
  left: 0;
  background-color: none;
}

#box {
  position: absolute;
  left: 0;
  bottom: -.1em;
  width: 1em;
  height: 1em;
  background-color: transparent;
  border: .25em solid whitesmoke;
  border-radius: 15%;
  transform: translate(0, -1em) rotate(-45deg);
  animation: push 2.5s cubic-bezier(.79, 0, .47, .97) infinite;
}

@keyframes push {
  0% {
    transform: translate(0, -1em) rotate(-45deg);
  }
  5% {
    transform: translate(0, -1em) rotate(-50deg);
  }
  20% {
    transform: translate(1em, -2em) rotate(47deg);
  }
  25% {
    transform: translate(1em, -2em) rotate(45deg);
  }
  30% {
    transform: translate(1em, -2em) rotate(40deg);
  }
  45% {
    transform: translate(2em, -3em) rotate(137deg);
  }
  50% {
    transform: translate(2em, -3em) rotate(135deg);
  }
  55% {
    transform: translate(2em, -3em) rotate(130deg);
  }
  70% {
    transform: translate(3em, -4em) rotate(217deg);
  }
  75% {
    transform: translate(3em, -4em) rotate(220deg);
  }
  100% {
    transform: translate(0, -1em) rotate(-225deg);
  }
}
.custom_content{
  padding: 0;
  margin: 0;
  width: 100%;
}
.shoppinglist {
  margin-left:2px;
}
.bslist {
  margin-left:2px;
}
.bds{
  margin-left:2px;
}
.spanel {
  margin-top: 10px;
  border-radius: 0;
  border: 1px solid #00b8d4;
  background-color: rgba(255, 255, 255, 0.0);
}
.spanel-head {
  border-radius: 0;
  border: 1px solid #00b8d4;
  background-color: #00b8d4;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 800;
}
.spanel-head h2{
  margin:0;
  padding: 0;
  color: black;
}
.spanel-body {
  border-radius: 0;
  padding: 3px 3px 0px 3px;
}
.spanel-foot {
  border-radius: 0;
  border: 1px solid #00b8d4;
  background-color: #00b8d4;
  color: black;
  height: 45px;
  padding: 0;
}
.spanel-item {
  background-color: #00e5ff;
  height: 50px;
  margin-bottom: 3px;
}
.spanel-item h4{
  margin: 0;
  padding-top: 15px;
  padding-left: 20px;
  display: inline-block;
  height: 50px;
  overflow: hidden;
  width: 70%;
  color: black;
}
.spanel-item>a>h4:hover {
  background-color: #00b8d4;
  height: 50px;
  cursor: pointer;
}
.action{
  display: inline-block;
  float: right;
  height: inherit;
  width: 30%;
}
.action>a:hover {
  background-color: #00b8d4;
}
.icon-link1 {
  font-size: 20px;
  height: 50px;
  padding-top: 15px;
  display: inline-block;
  color: red;
  width: 33.3%;
  text-align: center;
  border-left: 1px solid black;
}
.icon-link2 {
  padding-top: 15px;
  font-size: 20px;
  color: #1b5e20;
  width: 33.3%;
  height: 50px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  border-left: 1px solid black;
}
.icon-link-e {
  padding-top: 15px;
  font-size: 20px;
  color: #004d40;
  width: 33.3%;
  height: 50px;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  border-left: 1px solid black;
}
.add-list {
  height: 40px;
  padding-top: 10px;
  margin-top: 2px;
  margin-right: 15px;
  display: inline-block;
  background-color: #ff5722;
  color:white;
  float: right;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  box-shadow: 1px 1px 2px 2px grey;
}
.spanel-item-none {
  background-color: #90a4ae;
  height: 50px;
  margin-bottom: 3px;
}
.spanel-item-none h4{
  margin: 0;
  padding-top: 15px;
  padding-left: 20px;
  display: inline-block;
  height: 50px;
  overflow: hidden;
  width: 100%;
  color: black;
}
.c-add {
  float: right;
  padding-top: 10px;
  text-shadow: 1px 1px grey;
}
.spanel-item-loading {
  background-color: #fb8c00;
  height: 50px;
  margin-bottom: 3px;
}
.spanel-item-loading h4{
  margin: 0;
  padding-top: 15px;
  padding-left: 20px;
  display: inline-block;
  height: 50px;
  overflow: hidden;
  width: 90%;
  color: black;
}
.spn {
  display: inline-block;
  float: right;
  height: inherit;
  width: 10%;
  padding: 5px;
}
.mdl {
  margin-top: 40%;
  border: 1px solid cyan;
  border-radius: 0px;
  background-color: rgba(0, 184, 212, .9);
  color: black;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.mdl>h4{
  font-weight: 800;
  margin: 0;
}
.close {
  opacity: .9;
}
.modal-header {
  padding: 5px;
}
.input-group {
  padding-left: 10%;
  width: 80%;
}
.input-group>.form-control {
  border: 2px solid cyan;
}
.input-group>.btn {
  border: 2px solid cyan;
}
