body, html {
    height: 100%;
}
.bg {
    /* The image used */
    background-image: url("./bg.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow:auto;
}
.btn {
  cursor: pointer;
}
#root{
  margin: 0;
  padding: 0;
  height: 100%;
  background: rgba(0,0,0,0.65)
}
.navbar {
  margin: 0;
  border-radius: 0;
  background-color: black;
  border-bottom: solid;
  border-bottom-color: cyan;
  border-bottom-width: 1px;
}
.b{
  color:cyan !important;
}
.b:hover{
  color:white !important;
}
.navbar-brand {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: 800;
}
.Home {
  height: 100%;
}
.custom-content{
  padding-top: 12%;
}
.login {
  vertical-align: center;
}
.landing-head{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: cyan;
}
.text-white {
  color: white;
}
.bb {
  background: rgba(0,0,0,.7);
  border-width:medium;
  border-color: cyan;
  color: white;
  width: 100px;
  margin: 15px;
}
.bb:hover,.bb2:hover {
  background: rgba(0,255,255,.2);
  color:white;
  border-color: cyan;
}
.text-err {
  color: #ff4d4d;
  background: rgba(0,0,0,.3);
}
.f-error {
  border-bottom: 1px solid red;
  box-shadow: 1px 1px red;
}
.f-label {
  color : cyan;
}
.f-submit {
  background: rgba(0,0,0,.7);
  border-width:medium;
  border-color: cyan;
  color: white;
  width: 100px;
}
.f-submit:hover {
  background: rgba(0,255,255,.2);
  color:white;
  border-color: cyan;
}
.f-submit:click {
  background: rgba(0,255,255,.2);
  color:white;
  border-color: cyan;
}
.f-head{
  color : cyan;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.f-success {
  padding-top: 8%;
  text-align: center;
}
.f-big {
  color: cyan;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.f-info {
  color: White;
  font-family: "Comic Sans MS", cursive, sans-serif;
}
.f-link {
  color: turquoise;
}
.f-link:hover {
  color: lime;
  text-decoration: none;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes i-info {
    from {background:rgba(0, 255, 255, 1);}
    to {background:rgba(0, 255, 255, .5);}
}
.i-container {
  background:rgba(0, 255, 255, 1);
  color: black;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  box-shadow: 0px 3px 10px 3px rgba(0, 255, 255, .75);
  border-bottom: 2px solid cyan;
  border-right: 2px solid cyan;
  border-left: 2px solid cyan;
  border-top: 0px solid cyan;
  text-align: center;
  animation-name: i-info;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /*animation-fill-mode:both;*/
  /*animation-timing-function: ease-in-out;*/
}
.i-c{
  animation-name: slidein;
  animation-duration: 2s;
  animation-iteration-count: 1;
  /*animation-direction: alternate;*/
}
.i-submit {
  background: rgba(0,0,0,.7);
  border-width:medium;
  border: 1px solid;
  border-color: cyan;
  color: white;
  width: 100px;
}
.i-submit:hover {
  background: rgba(0,0,0,1);
  color:white;
  border: 1px solid;
  border-color: white;
}
